In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.neighbors import NearestNeighbors

%matplotlib inline

In [2]:
df = pd.read_csv('features.csv')
df.head()

,shoe_number,0,1,2,3,4,5,6,7,8,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,1,0.0,0.0,0.0,0.000000,0.0,0.000000,0.010008,0.000000,0.0,...,1.399329,0.0,0.0,3.729317,1.103814,4.129386,0.701350,0.000000,0.0,0.000000
1,2,0.0,0.0,0.0,4.031225,0.0,0.218872,2.062329,0.353586,0.0,...,0.000000,0.0,0.0,0.000000,0.000000,0.152950,0.000000,0.000000,0.0,0.451184
2,3,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,...,0.000000,0.0,0.0,0.275667,0.000000,1.033908,0.000000,0.769665,0.0,0.000000
3,4,0.0,0.0,0.0,2.478184,0.0,0.000000,3.674074,0.000000,0.0,...,0.125413,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
4,5,0.0,0.0,0.0,0.000000,0.0,0.810305,1.475269,0.000000,0.0,...,0.000000,0.0,0.0,4.608068,3.596823,5.110212,0.163423,0.023230,0.0,0.000000

In [5]:
df.set_index('shoe_number',inplace=True)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
shoe_number,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.000000,0.0,0.000000,0.010008,0.000000,0.0,2.526172,...,1.399329,0.0,0.0,3.729317,1.103814,4.129386,0.701350,0.000000,0.0,0.000000
2,0.0,0.0,0.0,4.031225,0.0,0.218872,2.062329,0.353586,0.0,4.204300,...,0.000000,0.0,0.0,0.000000,0.000000,0.152950,0.000000,0.000000,0.0,0.451184
3,0.0,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.356971,...,0.000000,0.0,0.0,0.275667,0.000000,1.033908,0.000000,0.769665,0.0,0.000000
4,0.0,0.0,0.0,2.478184,0.0,0.000000,3.674074,0.000000,0.0,0.792082,...,0.125413,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000
5,0.0,0.0,0.0,0.000000,0.0,0.810305,1.475269,0.000000,0.0,2.662915,...,0.000000,0.0,0.0,4.608068,3.596823,5.110212,0.163423,0.023230,0.0,0.000000

Define a KNN of 4

In [7]:
nbrs = NearestNeighbors(n_neighbors=4,metric='euclidean').fit(df)

Finds the distance and index of the newrest neighbors.  Note that the first neighbor is itself.

In [8]:
distances, indices = nbrs.kneighbors(df)

In [14]:
knn_data = pd.DataFrame(indices)+1 # the +1 adds to the index and converts into shoe_number
knn_data.to_csv('knn.csv')